@using MAMS.Models

@inject IHttpContextAccessor contextAccessor;

@model MAMS.Models.UserDetailsViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <li>Welcome @Model.First_Name</li>
    <li> @Model.Last_Name</li>
    <li>@Model.Address</li>
</div>

