@using System.Data
@using MAMS.Services
@using MAMS.Models.ViewModels

@{
    ViewData["Title"] = "Doctors";
}

@model IEnumerable<DoctorDetailsViewModel>

<div class="container">
    <div class="content-header">
        <h2>Doctors</h2>
    </div>

    <div class="content">
        <div class="card bg-light d-flex flex-fill">

            @if (Model == null)
            {
                <div class="alert alert-danger" role="alert">
                    Error: Failed to load data. Please try again later. or Please Log in again..
                </div>
            }
            else if (!Model.Any())
            {
                <div class="alert alert-info" role="alert">
                    No doctors found.
                </div>
            }
            else
            {
                <div class="row row-cols-2">
                    @foreach (var doctor in Model)
                    {
                        @await Html.PartialAsync("_DoctorCard", doctor)
                    }
                </div>
            }


        </div>
    </div>
