@using System.Data
@using MAMS.Services
@using MAMS.Models.ViewModels
@using static MAMS.Services.Enums

@{
    ViewData["Title"] = "Search";
    // var doctorId = ViewData["DoctorId"] as int?;
}

@model IEnumerable<DoctorDetails>

<div class="container">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12 d-flex justify-content-between align-items-center">
                    <h1>New Appointment</h1>
                </div>
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index">Appointments</a></li>
                        <li class="breadcrumb-item active">Search</li>
                    </ol>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <div class="content">
        <div class="container-fluid">

            <div class="info-box shadow">
                <span class="info-box-icon bg-olive"><i class="bi bi-search"></i></span>

                <div class="info-box-content">
                    <form method="get" asp-action="SearchDoctors" class="row g-3">
                        <div class="form-group col">
                            <input type="text" class="form-control rounded-pill" id="Name" name="name" placeholder="Enter doctor's name">
                        </div>
                        <div class="form-group col">
                            <select id="Specialization" name="Specialization" class="form-select rounded-pill">
                                <option value="">--Select Specialization--</option>
                                @foreach (var specializations in ViewBag.Specializaions)
                                {
                                    <option value="@specializations.Specializations_Name">@specializations.Specializations_Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-2 text-center">
                            <button type="submit" class="btn btn-primary rounded-pill">Search</button>
                        </div>
                    </form>
                </div>
            </div>

            
            @if (Model != null && Model.Any())
            {
                <div class="row row-cols-4">
                    @foreach (var doctor in Model)
                    {
                        @await Html.PartialAsync("_DoctorProfile", doctor)
                    }
                </div>
            }
            else if (Model != null)
            {
                <div class="alert alert-info" role="alert">
                    No doctors found.
                </div>
            }
        </div>
    </div>
</div>
